.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.logo img {
  width: 40px;
  margin-right: 0.5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  position: absolute;
  margin-left: 70%;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: black;

  align-items: end;
}

.login-button {
  background-color: #f7931e;
  border: none;
  color: white;
  padding: 0.5rem 1.2rem;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}
